<%- include("cabecera")%>
<script src="/javascripts/search-cursos.js" language="javascript" type="text/javascript"></script>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Búsqueda de cursos</div>
    <div class="panel-body">
            <div class="form-inline">
                <input type="text" class="form-control" name="busqueda" id="searchInput" placeholder="Busqueda por nombre">
                <button type="submit" id="botonSearchCursos" class="btn btn-primary"><p class="glyphicon glyphicon-search"> Buscar</p></button>
            </div>
        <br/>
        <div id="resultadoBusqueda"></div>
    </div>
</div>
</body>
</html>
